@import url("http://fonts.googleapis.com/css?family=Fenix");

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {background-image:url("/static/im/bg1.jpg");}

body
{
	
    /* font-family:'Jellyka';*/
   font-family: 'Fenix', serif;
    font-size:20;

/*text-shadow: 2px 2px #aaaaaa;*/

}


/* Divs by class */


div.box{
	border:0px solid black;
	
	padding:10px;
	background-color: rgba(255, 255, 255, 0.5);
	

}
div.box-top{
	border:0px solid black;
	margin:10px;
	padding:10px;
	background-color: rgba(255, 255, 255, 0.5);
	

	text-align:right;

}

/* Divs by ID */

div.box-bottom{
	border:0px solid black;
	
	padding:10px;
	background-color: rgba(255, 255, 255, 0.5);
	
}
a{text-decoration:none;}

a:link    {color:green;}
a:visited {color:green;}
a:hover   {color:red;}
a:active  {color:yellow;} 

/* Fonts */

@font-face {
    font-family: 'Jellyka';
    src: url('/static/fonts/Jellyka_Estrya_Handwriting.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EasyRider';
    src: url('/static/fonts/Easy_Rider.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

/* Sticky footer */

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 155px; /* .push must be the same height as .footer */
}

}