{% load staticfiles %}
    <html>
        <head>
            <link rel="stylesheet" type="text/css" href="{% static "css/main2.css" %} " />  
        	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        	<script src="{% static "js/all.js" %}"></script>
            <script type="text/javascript">var gName="{{person.name}}";var gHandle="{{user.username}}";</script>
            <script type="text/javascript">var gName="{{me.name}}";</script>
        	
        	{% block head %}
        	<title>
			Title
			</title>

           {% endblock %}
             
        </head>
        <body>
         
        <div class="box-top">
            <table width="100%" border="0"><tr><td align="left">
            <a href="/groups">Groups</a>
             <span class="widget"> ~ </span>
             <a href="/news">News</a>
             <span class="widget"> ~ </span>
             <a href="/post">Post</a>
            </td><td align="right">
		Logged in as <a href="/person/{{user.username}}">{{ user.username }}</a> <span class="widget"> ~ </span>
        <a href="/person/{{user.username}}">{{ me.name }}</a>
        <span class="widget"> ~ </span>
        <a href="/profiles">Profiles</a>
        <span class="widget"> ~ </span>
        <a href="/options">Options</a>
		<span class="widget"> ~ </span>
		<a href="{% url 'logout' %}">Log out</a>
    </td></tr></table>
		</div>

		{% block central %}
		{% endblock %}
         
         <div class="box" id="info"></div>

           
        </body>
    </html>
