{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<title>
Options
</title>
<script src="{% static "js/groupHTML.js" %}"></script>
<script src="{% static "js/groups.js" %}"></script>

{% endblock %}

{% block central %}

<div class="box">
<p>Groups</p>
<table width="100%" border="0" cellspacing="5">
	<tr><td>
		Groups list
	</td><td>
	Members
</td><td>
Full list
</td><td></tr>
	<tr><td  width="25%" valign="top">
		<div  border="1" class="leftGroupList">

		</div>
	</td>

	<td  valign="top"> 
Members list
	</td>
	<td width="30%"  valign="top">
Check list
	</td>
</tr>
<tr><td id="newGroupContainer"><p><input class="button" type="submit" value="New group" id="bNewGroup"/></p></td>
	<td valign="top"><p><input class="button" type="submit" value="Add member" id="bAddMember"/></p></td>
</td>
</tr>
</table>

</div>


{% endblock %}