{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<title>
Person
</title>
<script src="{% static "js/dust-full-0.3.0.js" %}"></script>
<script src="{% static "js/dust_person.js" %}" ></script>
<script src="{% static "js/convo.js" %}"></script>
<script src="{% static "js/convoHTML.js" %}"></script>
<script type="text/javascript">var gName="{{me.name}}";var gHandle="{{user.username}}"; var gCurrentPersonHandle="{{person.handle}}";
	var gCurrentPersonUID="{{person.uid}}";</script>


{% endblock %}

{% block central %}
<div class="box">
 <p>
 	Profile
 </p>
 <p>
 	<table>
<tr><td align="right">Handle:</td><td>{{person.handle}}</td></tr>
<tr><td align="right">Email:</td><td>{{person.handle}}</td></tr>
<tr><td align="right">Name:</td><td>{{person.handle}}</td></tr>
<tr><td align="right"></td><td></td></tr>

</table>

</div>




<div class="box-convo">

<p>Conversations</p>
<div id="convoShelf">
</div>
</div>
<input class="button" type="submit" value="New conversation" id="startConv"/>




{% endblock %}