{% extends "base.html" %}

{% block central %}
<div class="box">
Home- you are logged in
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lacus justo, nec consectetur mi posuere a. Integer luctus tellus turpis, in viverra ipsum sagittis id. Curabitur pellentesque ut nisi vestibulum tristique. Nam magna odio, convallis ut ullamcorper eu, vulputate id ligula. Vivamus in urna et nunc porta condimentum. Donec justo libero, vehicula ut semper vitae, consequat et dui. Vestibulum ultrices, sapien a dapibus auctor, nunc enim tristique dui, ac dictum nunc tortor eget dolor. Nullam tortor arcu, convallis id dui quis, interdum molestie ante. Morbi viverra ligula id velit posuere feugiat. Integer laoreet tortor ipsum, ac condimentum dui cursus ut. Integer ac egestas arcu. Vivamus sit amet feugiat dui. In eget lacus ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed lobortis erat a imperdiet dignissim.


</div>
{% endblock %}