{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<title>
Welcome
</title>
<script src="{% static "js/welcome.js" %}"></script>

{% endblock %}

{% block central %}
<div class="box">
<p>Please log in:</p>

<form action="{% url 'login' %}" method="post">
<table>
{% csrf_token %}
<tr><td align="right">Handle:</td><td><input type="text" name="handle" class="username"></td></tr>
<tr><td align="right">Password:</td><td><input type="password" name="password"></td></tr>
<tr><td align="right"></td><td><input class="button" type="submit" value="Log in" /></td></tr>
</form>
</table>

<p>Or you can sign up:</p>

<form action="{% url 'join' %}" method="post">
<table>
{% csrf_token %}
<tr><td align="right">Handle:</td><td><input type="text" name="handle"></td></tr>
<tr><td align="right">Email:</td><td><input type="text" name="email"></td></tr>
<tr><td align="right">Name:</td><td><input type="text" name="name"></td></tr>
<tr><td align="right">Password:</td><td><input type="password" name="password"></td></tr>
<tr><td align="right"></td><td><input class="button" type="submit" value="Join" /></td></tr>
</form>
</table>

</div>
{% endblock %}